
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html{
    font-size: 10px;
}




body{
    width: 100%;
    height: 100%;
    
    
    
    
}

header{
    background-color: rgb(0, 0, 0);
    
    
}

footer{
    background-color: #000000;
}

.nav-menu{
    display: flex;
    gap: 10rem;
    align-items: center;

}




.nav-menu ul{
    display: flex;
    gap: 9rem;
    align-items: center;

    

}


.nav-menu nav ul li{
    list-style: none;
}


.nav-menu nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}


.imagen-header-menu{
    background-image:url(../assets/images/6\ Homepage\ Banners\ 2000\ x\ 1125\ v2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 85rem;
    width: 100%;
 

}





.explora{
    
    font-size: 7rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    
    color: white;
    
    padding: 10rem 0rem 12rem 7rem;
}











.logo{
    margin-top: 0rem;
    margin-left: 2rem;
    display: flex;
    height: 15rem;
}


.nombre-agencia{
    text-decoration: underline;
    font-size: 4rem;
    color: white;
    margin: 1rem 0rem 0rem 2rem;
}

.subtitulo{
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
}



.parrafo-header-main{
    color: white;
    font-size: 3.2rem;
    
    width: 100%;
    padding: 0rem 0rem 2rem 20rem;

}



.main-inicio{
    background-color: #000000;
}

.main-inicio img{
    height: 12rem;
    margin: 4rem 0rem 10rem 2rem;
}


.main-inicio h3{
    color:white;
    
}



.contenedor-main-info{
    display: flex;
    
}


.contenedor-main-info p{
    color: white;
    padding-top: 8rem ;
    
    font-size: 2.3rem;
}


.main-inicio h2{
    color: rgb(255, 255, 255);
    font-size: 7rem;
    padding: 15rem 0rem 0rem 0rem;
    display: flex;
    justify-content: center;
}


.contenedor-main-info-2{
    display: flex;
}


.contenedor-footer-logos{
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    border-radius: 25px;

}

i{
    color: white;
    padding: 20px 20px;
    font-size: 8rem;
    position: relative;
    transition: .5s;
}

.facebook:hover{
    transform: scale(2);
    color: rgb(13, 93, 212);

}

.insta:hover{
    transform: scale(2);
    color: rgb(255, 106, 6);
}



.google:hover{
    transform: scale(2);
    color: rgb(184, 53, 53);
}












.body-1{
    background-image: url(../assets/images/e8a7a4f9-e7e7-4e43-97b1-2156c54f8bde.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.ancla-inicio{
    color: white;
    font-size: 3rem;
    

}


.quienes-somos{
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.contenedor-parrafo {
    border-color: antiquewhite;
    color: white;
}

.article-parrafo p { 
    margin: 8rem 25rem 0rem 25rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: white;
    display: flex;
    font-size: 4rem;
}


.article-parrafo-2 p{
    color: white;
    display: flex;
    font-size: 3rem;
    margin: 30rem 0rem 0rem 4rem;
    
}

.article-parrafo-2 img{
    height: 30rem;
    margin: 4rem 0rem 0rem 50rem;
}

.header-viajes{
    color: rgb(0, 0, 0);
}


.titulo-viajes{
    margin: 4rem 0rem 0rem 0rem;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 10rem;
}

.body-2{
    background-image: url(../assets/images/preview.jpg)
}


.ancla-inicio-viajes{
    color: rgb(255, 255, 255);
    font-size: 3rem;
}


.contenedor-viajes{

}






.img-viajes-1{
    margin: 0rem 0rem 6rem 0rem;
    
    
    height: 30rem;
}


.idc{
    color: black;
    margin: 7rem 0rem 7rem 0rem;
    font-size: 4rem;
}


.body-3{
    height: 100%; 
    font-family: 'Noto Sans', sans-serif;
    background-color: #000000; 
  }
  
  .contact_form{  
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
  }
  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #09a6b1; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #0bb9d8; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
.h3-con{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}


  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #0bb2cf; 
    border-color: #0bcddb; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: #fff; 
  }
  
  
  span{
    color: #11c1d8; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  
  h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: #10a6d3;
  }
  
  
  h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
  }
  
  
  p{
    font-size: 14px; 
    color: #0e0e0e; 
  }
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }








.blog{
    margin: 2rem 0rem 0rem 60rem;
    color: white;
    font-size: 10rem;
}

.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    
}

.grid-container div{
    width: 100%;
    
}

.buzo{
    color: white;
    font-size: 5rem;
    margin: 6rem 6rem 5rem 18rem;
}


.buzo-2{
    color: white;
    font-size: 5rem;
    margin: 6rem 0rem 5rem 10rem;
}




.parrafo-final{
    color:white; 
    font-size: 2.3rem; 
    padding: 5rem 20rem 0rem 3rem;
}

.img-curso{
    height: 20rem;
}



.parrafo-final-2{
    color:white;
    font-size: 2.3rem; 
    padding: 5rem 20rem 0rem 3rem;

}




@media (max-width: 1024px){
    
    body{
        width: 123%;
    }

    .nav-menu ul{
        gap: 3.5rem;
    }
    

    .responsive-main img{
        height: 20rem;
    }
}


@media (max-width:768px){

    body{
        width: 140%;
    }

    .nav-menu nav ul li a{
        font-size: 1.9rem;
    }

    .card-img-top{
        width: 20rem;
    }


    .parrafo-final{
        font-size: 1.9rem;
        padding: 5rem 4rem 0rem 3rem;
    }

    .img-curso{
        height: 20rem;
        width: 48rem;
    }


    .parrafo-final-2{
        font-size: 1.9rem;
    }


}


@media (max-width:425px){

    body{
        width: 230%;
    }

    .logo{
        height: 3rem;
    }


    .nombre-agencia{
        margin: 0rem 0rem 3.3rem 1rem;
        font-size: 1.5rem;
        text-decoration: none;
    }


    .subtitulo{
        display: none;
    }


    .nav-menu nav ul li a{
        font-size: 1.9rem;
    }

    .contenedor-main-info p{
        font-size: 1.8rem;
    }
}


@media(max-width:320px){
    .parrafo-final-2{
        padding: 2.9rem 0rem 0rem 1.3rem;
    }
}
