.main-sobrenosotros{
    background-image: linear-gradient(to right top, #030113, #060219, #09031e, #0c0423, #0e0528);
    .text-focus-in {
        -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        .sobrenosotros-main{
        background: linear-gradient(to right top, #ffffff, #e5e5e6, #cdcccc, #b5b3b3, #9d9b9b);
        display: flex;
        justify-content: center;
        font-size: 5rem;
        padding: 13rem 0rem 0rem 0rem;
        font-family: 'Ramabhadra', sans-serif;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        }
    }
    @-webkit-keyframes text-focus-in {
        0% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
      @keyframes text-focus-in {
        0% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
    .bounce-top {
        -webkit-animation: bounce-top 1.5s both;
        animation: bounce-top 1.5s both;
        .subtitulo-acercade{
            background: linear-gradient(to right top, #ffe40a, #cabd21, #9a9729, #6f712a, #4a4d27);
            font-size: 2.8rem;
            font-family: 'Ramabhadra', sans-serif;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            
            display: flex;
            justify-content: center;
            padding-top: 11rem;
        }
    }
    @-webkit-keyframes bounce-top {
        0% {
          -webkit-transform: translateY(-45px);
                  transform: translateY(-45px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
          opacity: 1;
        }
        24% {
          opacity: 1;
        }
        40% {
          -webkit-transform: translateY(-24px);
                  transform: translateY(-24px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        65% {
          -webkit-transform: translateY(-12px);
                  transform: translateY(-12px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        82% {
          -webkit-transform: translateY(-6px);
                  transform: translateY(-6px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        93% {
          -webkit-transform: translateY(-4px);
                  transform: translateY(-4px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        25%,
        55%,
        75%,
        87% {
          -webkit-transform: translateY(0px);
                  transform: translateY(0px);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
        }
        100% {
          -webkit-transform: translateY(0px);
                  transform: translateY(0px);
          -webkit-animation-timing-function: ease-out;
                  animation-timing-function: ease-out;
          opacity: 1;
        }
      }
      @keyframes bounce-top {
        0% {
          -webkit-transform: translateY(-45px);
                  transform: translateY(-45px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
          opacity: 1;
        }
        24% {
          opacity: 1;
        }
        40% {
          -webkit-transform: translateY(-24px);
                  transform: translateY(-24px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        65% {
          -webkit-transform: translateY(-12px);
                  transform: translateY(-12px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        82% {
          -webkit-transform: translateY(-6px);
                  transform: translateY(-6px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        93% {
          -webkit-transform: translateY(-4px);
                  transform: translateY(-4px);
          -webkit-animation-timing-function: ease-in;
                  animation-timing-function: ease-in;
        }
        25%,
        55%,
        75%,
        87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        }
        100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
        }
    }
    .contenedor-parrafo-acercade{
        display: flex;
        justify-content: center;
        width: 100%;
        .parrafo-acercade {
            display: flex;
            justify-content: center;
            font-size: 2rem;
            color: white;
            
            padding: 7rem 20rem 0rem 27rem
            
        }
        
    }
    .parrafo-acercade {
        display: flex;
        justify-content: center;
        font-size: 2rem;
        color: white;
        
        padding: 7rem 20rem 0rem 27rem
        
    }
    .subtitulo-acercade-2{
        background: linear-gradient(to right top, #ffe40a, #cabd21, #9a9729, #6f712a, #4a4d27);
        font-size: 2.8rem;
        font-family: 'Ramabhadra', sans-serif;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        display: flex;
        justify-content: center;
        padding-top: 10rem;
    }
    .contenedor-imagen-fotos{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: auto auto auto;
        padding: 9rem 0rem 0rem 4rem;
        .foto-1{
            border-radius: 50%;
            height: 25vh;
            width: 90%;
            padding: 0rem 1rem 0rem 3rem;
        }
    }
    
    
}