

@media (max-width:768px){

    body{
        width: 140%;
    }

    .nav-menu{
        nav{
            ul{
                li{
                    a{
                        font-size: 1.9rem;
                    }
                }
            }
        }
    }

    .card-img-top{
        width: 20rem;
    }


    .parrafo-final{
        font-size: 1.9rem;
        padding: 5rem 4rem 0rem 3rem;
    }

    .img-curso{
        height: 20rem;
        width: 48rem;
    }


    .parrafo-final-2{
        font-size: 1.9rem;
    }


}

